body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background_yellow{
  background: #FDE74C
}

.background_green{
  background: #9BC53D
}

.background_red{
  background: #C3423F
}

.background_blue{
  background: #5BC0EB
}
.background_black{
  background: #404E4D
}
.background_transparent{
  background: rgba(0, 0, 0, 0.406),
}

.background_shopping{
  background: url("./img/laura-marques-647991-unsplash.jpg");
  background-position: center;
  background-size: 140%;
  background-color: #404E4D;  
  background-repeat: no-repeat;
  transition:background 0.5s;

}
.background_about{
  background: url("./img/rawpixel-649905-unsplash.jpg");
  background-position: center;
  background-size: 165%;
  background-color: #404E4D;
  background-repeat: no-repeat;
  transition:background 0.5s;
}
.background_search{
  background: url("./img/marten-newhall-226045-unsplash.jpg");
  background-position: center;
  background-size: 170%;
  background-color: #404E4D;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.background_user{
  background: url("./img/jamie-street-804224-unsplash.jpg");
  background-position: center;
  background-size: 110%;
  background-color: #404E4D;
  background-repeat: no-repeat;
  transition:background 0.5s;
}

.background_shopping:hover {
  background-size: 130%;
  filter: brightness(1.2)
}
.background_about:hover {
  background-size: 150%;
  filter: brightness(1.2)
}
.background_search:hover {
  background-size: 150%;
  filter: brightness(1.2)
}
.background_user:hover {
  background-size: 100%;
  filter: brightness(1.2)
}
.dark-shadow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.dark-shadow:hover{
  background: rgba(0, 0, 0, 0.57);
}

.landing_back{
  background: url("./img/anthony-delanoix-15928-unsplash2.jpg");
  background-size: 200%;
  background-position: center;
  
}

.jumbo_back {
  background: url("./img/anthony-delanoix-15928-unsplash2.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-color: #FDE74C;
}

@media screen and (max-width:860px){
  .jumbo_back {
    background-size: 150%;
  }

  .landing_back{
    background-size: 70%;
  }
}
@media screen and (max-width:640px){
  .jumbo_back {
    background-position: -120px;
    background-size: 280%;
  }
}
/* loading */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  border-color: rgb(1, 1, 1) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* hover effect */
.font-large {
  font-size: 2rem;
}
.font-mid {
  font-size: 1.5rem;
}